.container{
    width: 100%;
    margin: 10%;
}

.col1{
    float: left;
    width: 18%;
    text-align: center;
    
}

input {
    margin-top: 10px;
    height: 30px;
    float: left;
    font-size: 20px;    
    
}

.col1 button{
    margin: 2px;
    font-size: 20px;    
    
}


.col2{
    float: left;
    width: 17%;
    font-size: 22px;

}

.col2  div {
    margin-top: 7px;
    height: 50px;

}

.col2 button{
    float: right;
}


.col3{
    float: left;
    width: 13%;
    text-align: center;
}

.col3 button{
    margin: 6px;
    font-size: 20px;    
}

.col3 small{
    display: block;
}

.col4{
    float: left;
    width: 20%;
}

.col5{
    float: left;
    width: 20%;
}



